#Ignore files build by Visual Studio
*.exe
*.dll
*.obj
*.pdb
*.user
*.log
*.suo
*.tlog
*.idb
*.sdf
*.ilk
*.lib
*.opensd
*.opensdf
*.opendb
*.suo
*.suo
*.iobj
*.ipdb
doc/html
doc/images
doc/latex
density_tests/vs2015/density_test.VC.db
density_tests/code_blocks/.objs/
density_tests/code_lite/Debug
density_tests/code_lite/Release
density_tests/code_lite/.codelite
doc/doxygen/doxygen_out.txt

density_tests/vs2017/x64/
density_tests/vs2017/.vs/density_tests/v15/
